			.hongbao{
			    height: 64%;
			    background: #A5423A;
			    width: 88%;
			    left: 0;
			    top: 0;
			    border-radius: 10px;
			    margin: 23% auto;
			}
			.topcontent{
			    height: 74%;
			    border: 1px solid #BD503A;
			    background-color: #BD503A;
			    border-radius: 10px 10px 50% 50% / 10px 10px 15% 15%;
			    box-shadow: 0px 4px 0px -1px rgba(0,0,0,0.2);
			}
			.avatar{
				width:100%;
				height:10%;
				left: 6%;
			    position: relative;
			    top: -8%;
			}
			.avatar span{
			    position: absolute;
			    top:35%;
			    right: 6%;
			    -webkit-transform: rotate(45deg);
			        -ms-transform: rotate(45deg);
			            transform: rotate(45deg);
			    font-size: 2em;
			    font-weight: bolder;
			}
			#close{
			    color: rgba(0,0,0,0.5);
			}
			.avatar img{
			    border: 1px solid #BD503A;
			    border-radius: 50%;
			    overflow: hidden;
			    margin-top: 10%;
			}
			.topcontent h2{
				margin-top:5%;
			    color: #FFA73A;
			    font-size: 24px;
			    font-weight:900;
			}
			.text{
			    color: #fff;
			}
			.description{
				margin-top:10%;
			    font-size: 26px;
			    font-weight:900;
			    color: #FFA73A;
			}
			#chai{
			    width: 100px;
			    height: 100px;
			    border: 1px solid #FFA73A;
			    background-color: #FFA73A;
			    border-radius: 50%;
			    color: #fff;
			    font-size: 20px;
			    display: inline-block;
			    margin-top: -15%;
			    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.2);
			}
			#chai span{
				margin-top:32%;
			    display: inline-block;
			}
			.rotate{
			    -webkit-animation: anim .6s infinite alternate;
			        -ms-animation: anim .6s infinite alternate;
			            animation: anim .6s infinite alternate;
			}
			#dialog3 .description{
				margin-top:30%;
			    font-size: 26px;
			    font-weight:900;
			    color: #FFA73A;
			}
			@-webkit-keyframes anim {
  	 		    from { -webkit-transform: rotateY(180deg); }
		  	  	to { -webkit-transform: rotateY(360deg); }
			}
			@-ms-keyframes anim {
			    from { -ms-transform: rotateY(180deg); }
			    to { -ms-transform: rotateY(360deg); }
			}
			@keyframes anim {
			    from { transform: rotateY(180deg); }
			    to { transform: rotateY(360deg); }
			}
