body {
    font-family: "ו",Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: left;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, strong, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
element.style {
    overflow: hidden;
}
#content {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
}
element.style {
    min-width: 852px;
}
#hdContainer #hdManageTop {
    background: #f8f8f8 none repeat scroll 0 0;
    border-bottom: 1px solid #dfdfdf;
    height: 60px;
    line-height: 60px;
    position: relative;
    width: 100%;
}
a {
    color: black;
    text-decoration: none;
}
a {
    color: #666;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}
#hdManageTop .logo {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    width: 180px;
}
element.style {
    height: 50px;
    padding: 5px;
    width: 170px;
}
#hdManageTop .userInfoBox {
    float: right;
    height: 100%;
    margin-right: 50px;
}
#hdManageTop .userInfoBox .userInfo {
    height: 100%;
    padding: 0 10px;
    text-align: center;
}

#hdManageTop .userInfoBox .userName {
    display: inline-block;
    font-size: 12px;
}
* {
    margin: 0;
    padding: 0;
}
a {
    color: #666;
    cursor: pointer;
    padding: 0;
    text-decoration: underline;
}
a {
    color: black;
    text-decoration: none;
}
#hdManageTop .manageInfoBox {
    font-size: 12px;
    height: 100%;
    margin-right: 40px;
    position: absolute;
    right: 200px;
    text-align: center;
    top: 0;
}
#hdManageTop .manageInfo {
    color: #333;
    float: left;
    height: 100%;
    width: 88px;
}
#hdManageTop .manageInfo a, #hdManageTop .manageInfoMin a {
    color: #333;
}

#hdManageTop .manageWrap {
    background-image: url("../images/manageWrap.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
    height: 100%;
    width: 1px;
}

#hdManageTop .manageInfoMin {
    float: left;
    height: 100%;
    position: relative;
    width: 36px;
}
#hdManageTop .topBarBulletin {
    background: #f8f8f8 url("../images/bg03.png") no-repeat scroll -536px -439px;
    position: relative;
    z-index: 10;
}
#hdManageTop .topBarIcon {
    cursor: pointer;
    height: 21px;
    margin: 17px auto auto;
    padding: 3px 4px;
    width: 18px;
}

#hdManageTop .topBarHome {
    background: #f8f8f8 url("../images/dicon.png") no-repeat scroll 0 -58px;
}
#hdManageTop .topBarIcon {
    cursor: pointer;
    height: 21px;
    margin: 17px auto auto;
    padding: 3px 4px;
    width: 18px;
}
element.style {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 61px;
}
#hdContainer #hdManageLeft {
    background: #e6e6e6 none repeat scroll 0 0;
    float: left;
    font-size: 14px;
    height: 100%;
    overflow: hidden;
    width: 155px;
}
#hdManageLeft .leftUtil.hoverChecked {
    background: #fff none repeat scroll 0 0;
}
#hdManageLeft .leftUtil {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    font-size: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
}
#hdManageLeft .leftUtil .iconHolder {
    border-right: 1px solid #e1e1e1;
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 40px;
}

#hdManageLeft .leftUtil.checked .leftUtildescr {
    border-color: transparent;
}
#hdManageLeft .leftUtil .leftUtildescr {
    border-right: 1px solid #e1e1e1;
    box-sizing: border-box;
    color: #444;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-left: 12px;
    width: 114px;
}

#hdManageLeft .leftUtil .iconHolder > div {
    height: 100%;
    width: 100%;
}

#hdManageLeft .actIconBox_in .newActIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon.png") no-repeat scroll -8px -14px;
}
#hdManageLeft .leftUtil .icon {
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    width: 20px;
}

#hdManageLeft .leftUtil.hoverChecked .actIconBox_out {
    animation: 0.5s ease 0s normal forwards 1 running actIconSlideShow;
    background: #3896dc none repeat scroll 0 0;
    border-bottom: 1px solid #3896dc;
    clip: rect(0px, 0px, 51px, 0px);
    color: white;
    display: block;
    position: absolute;
    top: 0;
}
#hdManageLeft .actIconBox_out .newActIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon.png") no-repeat scroll -8px -282px;
}
#hdManageLeft .leftUtil {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    font-size: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
}
#hdManageLeft .leftUtil .iconHolder {
    border-right: 1px solid #e1e1e1;
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    vertical-align: top;
    width: 40px;
}

#hdManageLeft .leftUtil .iconHolder > div {
    height: 100%;
    width: 100%;
}

#hdManageLeft .actIconBox_in .myActIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon.png") no-repeat scroll -8px -103px;
}
#hdManageLeft .leftUtil .iconHolder > div {
    height: 100%;
    width: 100%;
}
#hdManageLeft .leftUtil .actIconBox_out {
    display: none;
}

#hdManageLeft .actIconBox_out .myActIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon.png") no-repeat scroll -8px -371px;
}
#hdManageLeft .leftUtil .leftUtildescr {
    border-right: 1px solid #e1e1e1;
    box-sizing: border-box;
    color: #444;
    float: left;
    font-size: 12px;
    font-weight: bold;
    padding-left: 12px;
    width: 114px;
}
#hdManageLeft .leftUtil {
    background: #f6f6f6 none repeat scroll 0 0;
    border-bottom: 1px solid #e1e1e1;
    cursor: pointer;
    font-size: 0;
    height: 50px;
    line-height: 50px;
    width: 100%;
}
#hdManageLeft .actIconBox_in .cavIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon.png") no-repeat scroll -72px -203px;
}
#hdManageLeft .actIconBox_in .myInfoIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon.png") no-repeat scroll -8px -204px;
}

#hdManageLeft .actIconBox_out .myInfoIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon.png") no-repeat scroll -8px -472px;
}

#hdManageLeft .actIconBox_in .myDiscountIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon_discount.png") no-repeat scroll -2px -10px;
}

#hdManageLeft .actIconBox_out .myDiscountIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon_discount.png") no-repeat scroll -2px -50px;
}
#hdManageLeft .actIconBox_in .employeeMagIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon2.png") no-repeat scroll -4px -9px;
}
#hdManageLeft .actIconBox_out .employeeMagIcon {
    background: rgba(0, 0, 0, 0) url("../images/icon2.png") no-repeat scroll -4px -110px;
}

element.style {
    height: auto;
}
#hdManageLeft .wxImgBox {
    border-right: 1px solid #e1e1e1;
    height: 100%;
    margin-top: 20px;
    text-align: center;
}

#hdManageLeft .wxImgBox img {
    height: 128px;
    width: 128px;
}

#hdManageLeft .wxImgBox p {
    color: #333;
    font-size: 12px;
    line-height: 20px;
    margin-top: 5px;
}

element.style {
    display: block;
}
#hdAdImg {
    display: none;
    height: 144px;
    margin-left: 7px;
    margin-top: 54px;
    position: relative;
    width: 139px;
}

#hdAdImg .hdAdBg {
    cursor: pointer;
    height: 144px;
    width: 139px;
}
#hdAdImg .hdAdClose {
    cursor: pointer;
    height: 17px;
    position: absolute;
    right: -7px;
    top: 2px;
    width: 17px;
}

#hdContainer #manageFrame {
    height: 100%;
    left: 155px;
    position: absolute;
    right: 0;
}
element.style {
    display: block;
}
.hd-searchInputBox {
    height: 32px;
    position: fixed;
    right: 70px;
    top: 70px;
    width: 170px;
}
.hide {
    display: none;
}

.hd-searchInputBox .innerBox {
    border: 1px solid #c8c8c8;
    height: 30px;
    padding-left: 8px;
    width: 168px;
}
input[type="text"] {
    border: 1px solid #c8c8c8;
    height: 28px;
}

element.style {
    display: none;
}
.clearBtn {
    background: rgba(0, 0, 0, 0) url("../images/inputClear.png") repeat scroll 0 0;
    cursor: pointer;
    height: 16px;
    position: absolute;
    right: 5px;
    top: 8px;
    width: 16px;
}
.hide {
    display: none;
}
.clearBtn {
    background: rgba(0, 0, 0, 0) url("../images/faiui01.png") no-repeat scroll -36px -316px;
    cursor: pointer;
}

#manageFrame .manageFramePage {
    height: 100%;
    width: 100%;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, strong, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th {
    border: 0 none;
    margin: 0;
    outline: 0 none;
    padding: 0;
}

.loadBg {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 300;
}

.manager-loading {
    background: #000 none repeat scroll 0 0;
    border-radius: 10px;
    height: 80px;
    left: 50%;
    margin: -40px 0 0 -40px;
    opacity: 0.8;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 80px;
}

.spinner {
    display: inline-block;
    height: 40px;
    width: 40px;
}

.spinner .spinner-container {
    height: 2.8rem;
    left: 50%;
    margin: -1.4rem 0 0 -1.4rem;
    position: absolute;
    top: 50%;
    width: 2.8rem;
}

.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle1 {
    left: 0;
    top: 0;
}

.container1 .circle2 {
    animation-delay: -0.9s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle2 {
    right: 0;
    top: 0;
}

.container1 .circle3 {
    animation-delay: -0.6s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle3 {
    bottom: 0;
    right: 0;
}

.container1 .circle4 {
    animation-delay: -0.3s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle4 {
    bottom: 0;
    left: 0;
}

.spinner .spinner-container {
    height: 2.8rem;
    left: 50%;
    margin: -1.4rem 0 0 -1.4rem;
    position: absolute;
    top: 50%;
    width: 2.8rem;
}
.container2 {
    transform: rotateZ(45deg);
}

.container2 .circle1 {
    animation-delay: -1.1s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle1 {
    left: 0;
    top: 0;
}

.container2 .circle2 {
    animation-delay: -0.8s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle2 {
    right: 0;
    top: 0;
}

.container2 .circle3 {
    animation-delay: -0.5s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle3 {
    bottom: 0;
    right: 0;
}

.container2 .circle4 {
    animation-delay: -0.2s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle4 {
    bottom: 0;
    left: 0;
}

.spinner .spinner-container {
    height: 2.8rem;
    left: 50%;
    margin: -1.4rem 0 0 -1.4rem;
    position: absolute;
    top: 50%;
    width: 2.8rem;
}
.container3 {
    transform: rotateZ(90deg);
}

.container3 .circle1 {
    animation-delay: -1s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle1 {
    left: 0;
    top: 0;
}

.container3 .circle2 {
    animation-delay: -0.7s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle2 {
    right: 0;
    top: 0;
}

.container3 .circle3 {
    animation-delay: -0.4s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle3 {
    bottom: 0;
    right: 0;
}

.container3 .circle4 {
    animation-delay: -0.1s;
}
.container1 > div, .container2 > div, .container3 > div {
    animation: 1.2s ease-in-out 0s normal both infinite running bouncedelay;
    background-color: #fff;
    border-radius: 100%;
    height: 6px;
    position: absolute;
    width: 6px;
}
.circle4 {
    bottom: 0;
    left: 0;
}

#hdManageTop .topBarServeBox {
    border: 1px solid transparent;
    color: #333;
    cursor: pointer;
    margin: 11px auto auto;
    position: relative;
    text-align: center;
    width: 78px;
    z-index: 2;
}

#hdManageTop .topBarServe {
    height: 36px;
    line-height: 36px;
    position: relative;
    width: 100%;
}

#hdManageTop .topBarServeIcon {
    background: rgba(0, 0, 0, 0) url("../images/ficon.png") no-repeat scroll 0 -2px;
    height: 4px;
    position: absolute;
    right: 7px;
    top: 18px;
    width: 5px;
}

#hdManageTop .topBarServeContent {
    display: none;
    height: 32px;
    line-height: 32px;
    width: 100%;
}


