body{
    height: 100vh;
    background-color: #f7f7f7;
}
.item-box{
    width: 100vw;
    position: relative;
    color: #505050;
    font-size: 3vw;
    float: left;
    background-color: white;
}
.item{
    width: 100%;
    float: left;
    padding: 15px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.15);
    height: 55px;
}

.item label{
    width: 100%;
    font-weight: 400;
}

.item .title{
    width: 20%;
    float: left;
    height: 25px;
    line-height: 25px;
}
.item label input{
    float: left;
    width: 80%;
    border: none;
    height: 25px;
}

.btn-box{
    float: left;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#addWeixin{
    width: 100%;
}
#save{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    font-size: 16px;
    padding: 10px;
}