body{
    height: 100vh;
    background-color: #f7f7f7;
}
.item-box{
    width: 100vw;
    position: relative;
    color: #505050;
    font-size: 3vw;
    float: left;
    background-color: white;
    font-weight: 400;
}
.item{
    width: 100%;
    float: left;
    border-bottom: 1px solid rgba(128, 128, 128, 0.15);
}
.receiver{
    padding: 20px 20px 0px 20px;
    float: left;
    color: #000;
}
.phone{
    padding: 20px 20px 0px 20px;
    float: right;
}
.address{
    padding: 20px 20px 0px 20px;
    width: 100vw;
    float: left;
    color: #000;
}
.btn-box{
    float: left;
    width: 100%;
    padding: 20px;
    text-align: center;
}

#addManual{
    width: 100%;
}

.toolbar{
    float: left;
    text-align: left;
    padding: 12px 20px 10px 20px;
}
.toolbar2{
    float: right;
    text-align: right;
    padding: 12px 20px 10px 20px;
}
.toolbar img{
    height: 16px;
}
.toolbar2 img{
    height: 16px;
}