.input-group{
	margin-top: 8px;
}

.richradio, .richcheckbox {
	height: 31px !important;
	padding: 2px 13px 2px 10px !important;
	min-width: 0 !important;
}

.layui-layer-title{
	padding: 0 20px 0 20px !important;
}

.input-group , select.form-control , input.form-control{
	height: 45px;
}

body{
	height: auto;
}

#top_right{
	font-size: 16px;
	font-weight: 900;
}