<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:task="http://www.springframework.org/schema/task" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
						http://www.springframework.org/schema/context
						http://www.springframework.org/schema/context/spring-context-3.0.xsd
						http://www.springframework.org/schema/task
                        http://www.springframework.org/schema/task/spring-task-3.0.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">


    <!--SPRING START-->
    <context:component-scan base-package="com.keji09.**.service"/>
    <task:annotation-driven/>
    <context:property-placeholder location="classpath:*.properties"/>
    <context:annotation-config/>
    <import resource="applicationContext_dao.xml"/>

    <!--上传文件配置-->
    <bean id="multipartResolver"
          class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="maxUploadSize" value="104857600"/>
        <property name="maxInMemorySize" value="4096"/>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <!-- 初始化spring静态类 -->
    <bean class="com.keji09.erp.utils.SpringContextHolder" lazy-init="false"/>

    <!-- 初始化静态资源类 -->
    <bean id="applicationProperties" class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="ignoreResourceNotFound" value="true"/>
        <property name="locations">
            <list>
                <value>classpath:11erp.properties</value>
                <value>classpath:pdd.properties</value>
            </list>
        </property>
    </bean>
    <bean class="com.keji09.erp.utils.PropertiesUtil">
        <property name="properties" ref="applicationProperties"/>
    </bean>
    <!--SPRING END-->

    <!--pdd-->
    <bean class="com.pdd.pop.sdk.http.PopHttpClient">
        <constructor-arg index="0" value="${pdd.clientId}"/>
        <constructor-arg index="1" value="${pdd.clientSecret}"/>
    </bean>

    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/app*/**"/>
            <bean id="tokenInterceptors" class="com.keji09.erp.api.filter.TokenInterceptors"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>
